@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.875rem;
  color: #2a2a2a;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
 
.section-title {
    font-size:1.5rem;
    margin-bottom:20px;
}
.btn {
    color:#2a2a2a;
    border:solid 1px #2a2a2a;
    display:inline-block;
    font-size: 0.750rem;
    padding:14px 36px;
    margin-top:30px;
}

/*---------------------------------------

ヘッダー

---------------------------------------*/

header {
    height:100vh;
    background-image:url(C:/Users/tripl/Desktop/magagine-store/Mag88_files/Mag88_files/nicole-angelova-417kabtPFEU-unsplash.jpg);
    background-size:cover;
    margin-bottom: 80px;
    position:relative;
}
.site-title {
    position:absolute;
    top:30px;
    right:30px;
    color: #fff;
    background-color: black 
}
 /*--------------------------------------

section-magazine

---------------------------------------*/

.section-magazine {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    text-align: center;
    margin-bottom:80px;
}
.magazine-items {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.item {
    width:49%;
    position:relative;
}
.text {
    width: 100%;
    max-width: 290px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 32px;
    margin: 0 auto;
    position: absolute;
    top:40%;
    left: 0;
    right: 0;
}

/*-------------------------------------

fashion

-------------------------------------*/

.section-fashion {
    text-align: center;
    height:520px;
    background-image:url(C:/Users/tripl/Desktop/magagine-store/Mag88_files/Mag88_files/quentin-durand-3B2HDAUiNx4-unsplash.jpg);
    background-size:cover;
    padding-top:30px;
    margin-bottom: 80px;
}

/*--------------------------------------

catalog & antique

--------------------------------------*/

.section-catalogantique {    
  background-color: #f5f5f5;
  padding: 60px 0;
}
.section-title {
  margin-bottom: 40px;
}
.flex-item {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.item { 
  width: 48%;
  margin:0 35px;
  text-align: center;    

}
.item img {
  width: 100%;
}
.item p {
  margin-bottom: 30px;
  text-align: left;
}

/*----------------------------------

footer  

-----------------------------------*/

footer {
    background-color: #333;
    font-size:0.750rem;
}
.footer-flexitem {
    color:#fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top:100px;
    padding-bottom:100px;
    max-width:1200px;
    margin:0 auto;
}
.footer-logo {
    color: #fff;
}
.footer-item {
    width:33%;
}
.footer-item li::before {
    content:"-";
    margin-right:5px;
}
.copyright {
    height:60px;
    background-color: #fff;
    text-align: center;
    padding:30px 0;
}

/*----------------------------------------

レスポンシブ

----------------------------------------*/
@media screen and (max-width: 896px) {
  /*-------------------------------------------
  Magazine
  -------------------------------------------*/
    .magazine-items {
        flex-direction: column;
    }
    .item {
        width:100%;
        margin: 0 auto;
    }
    .item:first-child {
        margin-bottom:30px;
    }

  /*-------------------------------------------
  Fashion
  -------------------------------------------*/
    .section-fashion {
        padding:35px 20px;
        margin-bottom:50px;
    }
    

  /*-------------------------------------------
  Catalog & Antique
  -------------------------------------------*/
    .section-catalogantique {
        padding:30px 20px;
    }
    .flex-item {
        flex-direction: column;
    }
    .section-catalogantique .item {
      width:100%;
    }
  /*-------------------------------------------
  フッター
  -------------------------------------------*/
    .footer-flexitem {
        flex-direction: column;
        padding-top:30px;
        padding-bottom:30px;
    }
    .footer-item {
        width:100%;
        margin-bottom:30px;
    }
    
    .footer-item p {
        margin-bottom:10px;
    }
}



